<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta title='page68 表单控件基本用法 radio 这个没做出来'>
</head>
<body>
    <div id="app">
        <input type="radio" v-model="modelValue" value="htmlValue" id="html" />
        <label for="html">Html</label>
        <input type="radio" v-model="modelValue" value="jsValue" id="js" />
        <label for="js">JavaScript</label>
        <input type="radio" v-model="modelValue" value="cssValue" id="css" />
        <label for="css">Css</label>
        <br />
        <span>{{modelValue}}</span>
    </div>
    <script src='./vue.js'></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                modelValue: 22
            }
        })
    </script>
</body>
</html>